---
title: 分类
icon: th-list
layout: default
comments: false
permalink: /categorites/
hidden: true
---
<div class="jumbotron">
  <div class="container">
    <h1>分类</h1>
    <p>当前分类 - <span id="categorization">All</span></p> 
  </div>
</div>
<div id="main" class="container main">
  <div class="row">
    <div class="col-md-9" role="main">    
      <ul class="post-list" data-list-cate="All" style="display: none;">
        {% for post in site.posts %}
        <li>
          <span class="text-muted">{{ post.date | date: "%Y 年 %-m 月 %-d 日" }}</span>
          <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        </li>
        {% endfor %}
      </ul>
      
      {% for category in site.categories %}
      <ul class="post-list" data-list-cate="{{category | first}}" style="display: none;">
        {% for posts in category  %}
          {% for post in posts %}
            {% if post.url %}
              <li>
                <span class="text-muted">{{ post.date | date: "%Y 年 %-m 月 %-d 日" }}</span>
                <h3>
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
      {% endfor %}
    
      
    </div>
    
    <div class="col-md-3">    
      {% include sidebar.html %}
    </div>
  </div>
</div>