---
title: 分类
layout: default
comments: false
permalink: /categorites/
---
<div class="row">
  <div class="col-md-9" role="main">    
    <h1 class="page-header" id="categorization">全部文章</h1>
    <ul class="post-list" data-list-cate="All">
      {% for post in site.posts %}
      <li>
        <span class="text-muted">{{ post.date | date: "%Y 年 %-m 月 %-d 日" }}</span>
        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
      </li>
      {% endfor %}
    </ul>
    
    {% for category in site.categories %}
    <ul class="post-list" data-list-cate="{{category | first}}">
      {% for posts in category  %}
        {% for post in posts %}
          {% if post.url %}
            <li>
              <span class="text-muted">{{ post.date | date: "%Y 年 %-m 月 %-d 日" }}</span>
              <h3>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h3>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
    {% endfor %}
  
    
  </div>
  
  <div class="col-sm-3">
    <h4 class="page-header">
      分类
    </h4>
    
    <div class="categories-list">
      <a class="categories-list-item" href="javascript:;" data-cate="All">全部文章
        <span class="badge">{{site.categories | size}}</span></a>
      {% for category in site.categories %}
        <a class="categories-list-item" href="javascript:;" data-cate="{{ category | first }}">{{ category | first }}
        <span class="badge">{{ category | last | size }}</span></a>
    {% endfor %}
    </div>
    
    {% include links.html %}
  </div>
</div>
