---
layout: default
---
<div class="jumbotron">
  <div class="container">
    <div class="avatar">
      <a href="https://github.com/{{ site.github_username }}"><img src="{{ "/images/avatar.png" | prepend: site.baseurl }}"></a>
    </div>
    <div class="title">
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
    </div>
  </div>
</div>
<div class="jumbotron-sub">
  <div class="container">
    <div class="title">
      {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" data-toggle="tooltip" data-placement="bottom" title="GitHub"><i class="fa fa-github icon"></i></a>{% endif %}
      {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter icon"></i></a>{% endif %}
      {% if site.weibo_username %}<a href="http://weibo.com/{{ site.weibo_username }}" data-toggle="tooltip" data-placement="bottom" title="微博"><i class="fa fa-weibo icon"></i></a>{% endif %}
      {% if site.qqqun_name %}<a href="http://shang.qq.com/wpa/qunwpa?idkey={{ site.qqqun_idkey }}" data-toggle="tooltip" data-placement="bottom" title="{{ site.qqqun_name }}"><i class="fa fa-qq icon"></i></a>{% endif %}
      {% if site.email %}<a href="mailto:{{ site.email }}" data-toggle="tooltip" data-placement="bottom" title="{{ site.email }}"><i class="fa fa-envelope-o icon"></i></a>{% endif %}
      <a href="https://github.com/{{ site.github_username }}/{{ site.github_username }}.github.io" data-toggle="tooltip" data-placement="bottom" title="本博客源代码"><i class="fa fa-code icon"></i></a>
      <a href="/feed.xml" data-toggle="tooltip" data-placement="bottom" title="RSS"><i class="fa fa-rss icon"></i></a>
    </div>
  </div>
</div>
<div id="main" class="container main">
  {% if site.notice_level != 0 %}
    <p class="alert alert-success">{{ site.notice }}</p>
  {% endif %}
  <div class="row">
    <div class="col-md-9" role="main">
      <div>
        {% for post in paginator.posts %}
        <div class="post-preview">
          <div class="post-header">
            <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
            <p class="post-meta">
              <span class="glyphicon glyphicon-calendar"></span> {{ post.date | date: "%Y 年 %-m 月 %-d 日" }}
              {% if post.author %}&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span> {{ post.author }}{% endif %}
              {% if post.meta %}&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> {{ post.meta }}{% endif %}
              {% if post.categories[0] %}
                &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span>
                {% for c in post.categories %}
                  <a href="{{ "/categorites/?c=" | prepend: site.baseurl | append: c }}">{{ c }}</a>
                {% endfor %}
              {% endif %}
              {% if post.tags[0] %}
                &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tags"></span>&nbsp;
                {% for c in post.tags %}
                  <a href="{{ "/tags/#tag-" | prepend: site.baseurl | append: c }}">{{ c }}</a>
                {% endfor %}
              {% endif %}
            </p>
          </div>
          <div>{{ post.excerpt }}</div>
          <div class="text-right"><a class="btn btn-default" href="{{ post.url }}" role="button" target="_blank">继续阅读全文</a></div>
        </div>
        {% endfor %}
      </div>

      <nav class="text-center">
        <ul class="pagination">
          {% assign show_first = paginator.page | minus: 2 %}
          {% assign show_last = paginator.page | plus: 2 %}
          {% assign right = paginator.total_pages | minus: 1 %}
          {% assign right2 = paginator.total_pages | minus: 2 %}
          {% if show_first < 2 %}{% assign show_first = 2 %}{% endif %}
          {% if show_last >= paginator.total_pages %}{% assign show_last = paginator.total_pages | minus: 1 %}{% endif %}

          {% if paginator.previous_page %}
          <li>
            <a href="{{ paginator.previous_page_path }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <small>上一页</small>
            </a>
          </li>
          {% else %}
          <li class="disabled">
            <a href="javascript:;">
              <span aria-hidden="true">&laquo;</span>
              <small>上一页</small>
            </a>
          </li>
          {% endif %}

          {% if paginator.page == 1 %}
          <li class="active"><a href="javascript:;">1</a></li>
          {% else %}
          <li><a href="{{ '/index.html' | prepend: site.baseurl }}">1</a></li>
          {% endif %}

          {% if show_first > 3 %}
            <li class="disabled"><a href="javascript:;">...</a></li>
          {% elsif show_first == 3 %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', 2 }}">2</a></li>
          {% endif %}

          {% for i in (show_first..show_last) %}
            {% if paginator.page == i %}
              <li class="active"><a href="javascript:;">{{ i }}</a></li>
            {% else %}
              <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if show_last < right2 %}
            <li class="disabled"><a href="javascript:;">...</a></li>
          {% elsif show_last == right2 %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', right }}">{{ right }}</a></li>
          {% endif %}

          {% if paginator.page == paginator.total_pages %}
          <li class="active"><a href="javascript:;">{{ paginator.total_pages }}</a></li>
          {% else %}
          <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: ':num', paginator.total_pages }}">{{ paginator.total_pages }}</a></li>
          {% endif %}

          {% if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path }}" aria-label="Next">
              <small>下一页</small>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% else %}
          <li class="disabled">
            <a href="javascript:;" aria-label="Next">
              <small>下一页</small>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <div class="col-sm-3">
      {% include sidebar.html %}
    </div>
  </div>
</div>
