<header>  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li {% if page.url == "/index.html" %} class="active" {% endif %}>
            <a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> 博客</a>
          </li>
          
          {% if page.url == "/categorites/" %}
            <li class="active dropdown">
          {% else %}
            <li class="dropdown">
          {% endif %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><i class="fa fa-th-list"></i> 分类 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ "/categorites/?c=All" | prepend: site.baseurl }}"><span class="badge" style="float:right;">{{ site.posts | size }}</span>全部文章</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">分类列表</li>
              {% for category in site.categories %}
                {% assign cate = category | first %}
                {% assign u = "/categorites/?c=" | prepend: site.baseurl | append: cate %}
                <li><a href="{{ u }}"><span class="badge" style="float:right;">{{ category | last | size }}</span>{{ category | first }}</a></li>
              {% endfor %}
            </ul>
          </li>
          
          {% for p in site.pages %}
            {% if p.externalurl %}
            <li><a href="{{ p.externalurl }}">{% if p.icon %}<i class="fa fa-{{ p.icon }}"></i> {% endif %}{{ p.title }}</a></li>
            {% else %}
            {% if p.title and p.hidden != true %}
              <li {% if p.url == page.url %} class="active" {% endif %}>
                <a href="{{ p.url | prepend: site.baseurl }}">{% if p.icon %}<i class="fa fa-{{ p.icon }}"></i> {% endif %}{{ p.title }}</a>
              </li>
            {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      
        <form class="navbar-form navbar-right hidden-sm hidden-md hidden-lg" method="get" action="{{ "/search/" | prepend: site.baseurl }}">
          <div class="form-group">
            <input type="text" placeholder="正则搜索" class="form-control" name="s" id="keyword">            
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
