<h4 class="page-header">
  分类
</h4>

<div class="categories-list">
  {% if page.url != "/categorites/" %}
    {% assign u = "/categorites/?c=All" | prepend: site.baseurl %}
  {% else %}
    {% assign u = "javascript:;" %}
  {% endif %}
  <a class="categories-list-item" href="{{ u }}" data-cate="All">
    全部文章
    <span class="badge">{{ site.posts | size }}</span>
  </a>
  {% for category in site.categories %}
    {% if page.url != "/categorites/" %}
      {% assign cate = category | first %}
      {% assign u = "/categorites/?c=" | prepend: site.baseurl | append: cate %}
    {% else %}
      {% assign u = "javascript:;" %}
    {% endif %}
    <a class="categories-list-item" href="{{ u }}" data-cate="{{ category | first }}">
      {{ category | first }}
      <span class="badge">{{ category | last | size }}</span>
    </a>
  {% endfor %}
</div>

<h4 class="page-header">
  标签云
</h4>

{% assign first = site.tags.first %}
{% assign max = first[1].size %}
{% assign min = max %}
{% for tag in site.tags offset:1 %}
  {% if tag[1].size > max %}
    {% assign max = tag[1].size %}
  {% elsif tag[1].size < min %}
    {% assign min = tag[1].size %}
  {% endif %}
{% endfor %}
{% assign diff = max | minus: min %}
{% if diff == 0 %}
  {% assign diff = 1 %}
{% endif %}

{% for tag in site.tags %}
  {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
  {% assign base = temp | divided_by: 4 %}
  {% assign remain = temp | modulo: 4 %}
  {% if remain == 0 %}
    {% assign size = base | plus: 9 %}
  {% elsif remain == 1 or remain == 2 %}
    {% assign size = base | plus: 9 | append: '.5' %}
  {% else %}
    {% assign size = base | plus: 10 %}
  {% endif %}
  {% if remain == 0 or remain == 1 %}
    {% assign color = 9 | minus: base %}
  {% else %}
    {% assign color = 8 | minus: base %}
  {% endif %}

  {% if page.url != "/tags/" %}
    {% assign u = "/tags/#tag-" | prepend: site.baseurl | append: tag[0] %}
  {% else %}
    {% assign u = "#tag-" | append: tag[0] %}
  {% endif %}
  <a href="{{ u }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
{% endfor %}

<h4 class="page-header">
  链接
</h4>
<small>
<p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">订阅本博客</a></p>
<p><a href="http://www.upc.edu.cn" target="_blank">中国石油大学 (华东)</a></p>
<p><a href="http://youth.upc.edu.cn" target="_blank">中国石油大学 (华东) 团委</a></p>
<p><a href="http://stl.upc.edu.cn" target="_blank">中国石油大学 (华东) 社团联合会</a></p>
</small>