/**
 * Site footer
 */  
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: 15px;
    color: $grey-color;
}

.contact-list, .social-media-list {
    list-style: none;
    margin-left: 0;
    
    i {
        color: $grey-color;
    }
}




/**
 * Index page
 */
.post-list {
    margin-left: 0;
    padding: .5em 0em;
    list-style: none;

    li {
        margin-bottom: $spacing-unit;
        h3 {
            padding: .3em 0;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.categories-list {
    margin-left: 0;
    
    .item {
        padding: .2em .5em;
        display: block;
        color: $grey-color;
        font-size: $small-font-size;
       
        > .badge {
            float: right;
            margin-top: .1em;
        }
        
        &:hover {
            background-color: $highlight-color;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            
            > .badge {
                background-color: #fff;
                color: $highlight-color;
            }
            
            @include transition(all, .3s, ease, 0s);
        }
    }
}

.post-preview {
    padding-bottom: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid $grey-color-light;
    
    > h2 {
        letter-spacing: -1px;
        line-height: 1;
    }
}

/**
 * Labels
 */
.labels-list {
    display: block;
    list-style-type: disc;
    list-style: none;
    overflow: hidden;
    margin-left: 0px;
    
    li {
        float: left;
        position: relative;
        line-height: 33px;
    }
    
    .count {
        color: $grey-color;
        vertical-align: super;
        font-size: 12px;
    }
    
    a {
        padding: .35em .5em .25em .5em;
        margin: 0 0.5em;
        color: $grey-color-dark;
        border: 1px solid $grey-color-light;
        border-radius: 4px;
        background-color: lighten($grey-color, 47%);
        font-size: 15px;
        &:hover {
            text-decoration: none;
            background-color: lighten($grey-color, 45%);
        }
    }
}

/**
 * Links
 */
.link-list {
    //list-style: none;
    //margin-left: 0px;
    font-size: $small-font-size;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1, h2 {
         padding-bottom: $spacing-unit / 4;
     }
     
    h3, h4, h5, h6 {
        padding-bottom: $spacing-unit / 8;
    }
    
    h2 {
        font-size: 28px;
        border-bottom: 1px solid $grey-color-medium;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }
}

/**
 * 文章目录相关
 */
#content {
	max-width: 392px;
    
    .content-text {
    	padding: 10px 0; 
    }
    .affix {
        position: fixed;
        top: 20px;
    }
    .affix-bottom {
        position: absolute;
    }
}

#content ul {
	padding-left: 0px;
    
    > li {
        font-size: 15px;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    li a {
        color: $grey-color-dark;
        &:hover {
            background-color: transparent;
            border-left: 1px solid $highlight-color;
            color: $highlight-color;
        }
    }
    
    li.active {
        > a {
            border-left: 2px solid $highlight-color;
            color: $highlight-color;
            font-weight: 700;
        }
        
        > ul {
            display: block;
            li {
                font-size: 13px;
                ul {
                    display: none;
                }
            }
        }
    }
    
    li > a {
        padding: .2em 20px;
        &:hover {
            padding: .2em 19px;
        }
    }
    
    > li.active > a {
        padding: .2em 18px;
    }
    
    li ul {
        display: none;
        margin-left: 0;
        list-style: none;
        
        > li a {
            padding: .2em 40px;         
            &:hover {
                padding: .2em 39px;
                text-decoration: none;
            }
        }
        
        > li.active a {
            padding: .2em 38px;
        }
    }
}

@include media-query($on-palm) {
	.post{
		padding: 10px 10px;
		font-size: 14px;
		line-height: 1.3;
	}
	blockquote {
        padding-left: 0px;
    	font-size: 14px;
	}
	pre code{
		font-size: 12px;
	}
	.post article ul{
		padding-left: 0px;
	}
}


/**
 * Share
 */
 .sharelist {
    display: block;
    list-style: none;
    overflow: hidden;
    margin-left: 0px;
     
    li {
        float: right;
        position: relative;
        line-height: 33px;
        padding-right: .5em;
    }
    
    a {
        color: $grey-color-medium;
        font-size: 27px;
        
        &:hover {
            color: $highlight-color;
            @include transition(color, .3s, ease, 0s);
       }
    } 
 }