/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */  
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: 15px;
    color: $grey-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

/**
 * Index page
 */
.post-list {
    margin-left: 0;
    padding: .5em 0em;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        /* padding: .2em 2em; */
        > h3 {
            padding: .2em 0;
        }
        
        > a {
            padding: .2em 1em;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.categories-list {
    margin-left: 0;
    
    > a:hover {
        background-color: #f5f5f5;
        border-radius: 5px;
        text-decoration: none;
    }
}

.categories-list-item {
    margin-bottom: .3em;
    padding: .2em .5em;
    display: block;
    
    > .badge {
        float: right;
        margin-top: .2em;
    }        
}

.post-preview {
    padding-bottom: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-bottom: 4px double #ededed;
    
    > h2 {
        letter-spacing: -1px;
        line-height: 1;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
/**
 * 文章目录相关
 */
@media screen and (min-width: 768px){
	#markdown-toc {
		display: none;
	}
}

#content{
	max-width: 392px;
}
#content .content-text{
	padding: 10px 0; 
}

#content ul {
	padding-left: 0px;
}
#content ul li {
	font-size: 15px;
	line-height: 25px;
    /* display: none; */
}
#content ul li .active {
    display: inline;
    background-color: #000;
}

#content .affix {
    top: 0;
    bottom: 0;
}

@media screen and (max-width: 768px){
	.post{
		padding: 10px 10px;
		font-size: 14px;
		line-height: 1.3;
	}
	blockquote {
        padding-left: 0px;
    	font-size: 14px;
	}
	pre code{
		font-size: 12px;
	}
	.post article ul{
		padding-left: 0px;
	}
}

/**
 * Back to top
 */
#top {
	position: fixed;
	right: 25px;
	bottom: 10px;
	width: 60px;
	height: 60px;
	background-color: #f0f0f0;
	border-radius:7px;
	opacity: 0.8;
	display: none;
	z-index: 888;
}
#top .arrow {
	margin:0 auto;
	padding-top:11px;
	width: 0;
	height: 0;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent; 
	border-bottom: 15px solid #c1c1c1;
	
}
#top .stick {
	margin: 0 auto;
	padding-bottom: 21px;
	width: 13px;
	border-bottom: 13px solid #f0f0f0;
	background-color: #c1c1c1;
}